<div id="academy-courses" class="page-layout simple">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24 dy-header" fxLayout="column" fxLayoutAlign="center center">

        <div class="hero-text">
            <mat-icon class="hero-icon">school</mat-icon>
            <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                WELCOME TO ACADEMY
            </h1>
            <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
                Our courses will step you through the process of building a small application, or adding a new feature
                to an existing application.
            </h3>
        </div>

        <div fxLayout="row" style="
    align-items: stretch;">

            <div class="selected-project">{{selectedProject?.name}}</div>

            <button mat-icon-button class="project-selector" style="margin-left: 1px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 0 8px 0 0;" [matMenuTriggerFor]="projectsMenu" aria-label="Select project">
                <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #projectsMenu="matMenu">
                <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
                    <span>{{project?.name}}</span>
                </button>
            </mat-menu>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Class 1"></mat-tab>
            <mat-tab label="Class 2"></mat-tab>
            <mat-tab label="Class 3"></mat-tab>
            <mat-tab label="Class 4"></mat-tab>
        </mat-tab-group>
    </div>
    <!-- / CONTENT -->